.hovering:hover {
  color: #607D8B;
  background-color: #EFEFEF	;
}

h2 {
	margin-left: 15px; 	
}

.table {
    border-left-width: 15px;
    border-right-width: 15px;
}

.onTheLeft {
	margin-left: 15px;
	padding-left:15px;
}

.withId {
	margin-left: 3px;
}