<h2>Attendance List</h2>
<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>fk_user</th>
		<th>time</th>
		<th>direct</th>
		<th>type</th>
	</tr>
	<tr class="hovering" *ngFor="let att of listAttendance" [class.selected]="att === listAttendance" (click)="onSelect(att)">
	  <td>{{att.rid}}</td>  
	  <td>{{att.fk_user}}</td>
      <td>{{att.time}}</td>
      <td>{{att.direct}}</td>
      <td>{{att.type}}</td>
	</tr>
</table>

<div class="onTheLeft" *ngIf="selectedAtt">
  <h2>{{ selectedAtt.fk_user }} Details</h2>
  <div><span>User id : </span>{{selectedAtt.fk_user}}</div>
  <div><span>time: </span>{{selectedAtt.time}}</div>
  <div><span>direct: </span>{{selectedAtt.direct}}</div>
  <div><span>type: </span>{{selectedAtt.type}}</div>
</div>

<div class="onTheLeft" >
<h4>Fk_user Search</h4>
    <input #searchBox (keyup)="search(searchBox.value)" />
	<div class="withId" *ngFor="let attend of oneUserAttendance">
    	<div>{{attend.rid}}, {{attend.fk_user}}, {{attend.time}}, {{attend.direct}}, {{attend.type}}</div>  
    </div>

</div>
